[global_tags]
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = {{ metric_buffer_size }}
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  hostname = ""
  omit_hostname = false
[[processors.override]]
  order = 1
  namepass = ["ballast_value"]
  fielddrop = ["*"]
[[outputs.influxdb]]
  urls = ["http://127.0.0.1:8086"]
  database = "telegraf"
  database_tag = ""
  exclude_database_tag = false
[[outputs.exec]]
  command = ["{{ ansible_python.executable }}", "/opt/telegraf_plugins/mcs.py", "--supplier", "{{ supplier_id }}", "--namespace", "{{ namespace }}", "--project", "{{ project }}", "--endpoint", "{{ endpoint }}"]
  data_format="json"
  timeout="30s"
[[inputs.socket_listener]]
  service_address = "udp://0.0.0.0:25826"
  data_format = "collectd"
  collectd_typesdb = ["/usr/share/collectd/types.db"]

